<div class="container">
    <%= render 'errors', dojo: @dojo %>
    <h2>Editing <span class="white-text">Dojo</span></h2>
    <%= render 'form', dojo: @dojo %>
</div>

<%= link_to 'Show', @dojo, class:'btn btn-small sn bottom-links' %>
<%= link_to 'Back', url_for(:back), class:'btn sn bottom-links right limits' %>