// Place all the styles related to the dojos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Table Section
.theader      { color: #06a9e2; font-family: 'Poiret One', cursive; }
th:last-child { padding-left: 2rem !important; }
.trbody       { font-family: 'Poiret One', cursive; }
.trbody > td  { padding: 15px 5px; }
.trbody > td:last-child  { padding-left: 2rem !important; }
.trbody > td:last-child > a { margin: 0.1rem auto;  width: 5rem; }
.trbody > td:last-child > form {
    input { margin: 0; }
    width: 5rem;
    margin: 0rem auto;
    display: inline-table !important;
}
.trbody:hover { color: #06a9e2; background-color: #0000006b !important; }

.show {
    padding: .5rem 1.6rem;
    border-radius: 1rem !important;
    font-size: 10px !important;
    color: #06a9e2 !important;
    &:hover {
        color: white !important;
        background-color: #06a9e2 !important;
    }
}
.edit {
    //padding: .4rem .8rem;
    padding: .5rem 1.8rem;
    border-radius: 1rem !important;
    font-size: 10px !important;
    color: lime !important;
    &:hover {
        color: white !important;
        background-color: green !important;
    }
}
.delete {
    //padding: .4rem .8rem;
    padding: .5rem 1.5rem;
    border-radius: 1rem !important;
    font-size: 10px !important;
    color: #f44336 !important;
    &:hover {
        color: white !important;
        background-color: red !important;
    }
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    background-color: #020000;
    color: #9e9e9edb;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.dropdown-content li>a:hover, .dropdown-content li>span:hover {
    background-color: #06a9e2;
    color: white;
}
.select-wrapper input.select-dropdown:focus {
    color: #06a9e2 !important;
}

/* label focus color */
.input-field input[type=text] {
    // border-bottom: 1px solid #222;
    box-shadow: 0 1px 0 0 #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #06a9e2 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    // border-bottom: 1px solid #222;
    box-shadow: 0 1px 0 0 #06a9e2 !important;
}
/* valid color */
.input-field {
    input[type=text]:focus {
        color: #06a9e2;
    }
    input[type=text].valid {
        border-bottom: 1px solid #06a9e2;
        box-shadow: 0 1px 0 0 #06a9e2;
    }
    label:active {
        color: lime !important;
    }
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #06a9e2;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #06a9e2;
    box-shadow: 0 1px 0 0 #06a9e2;
}


input.valid:not([type]), input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default) {
    border-bottom: 1px solid #06a9e2 !important;
    -webkit-box-shadow: 0 1px 0 0 #06a9e2 !important;
    box-shadow: 0 1px 0 0 #06a9e2 !important;
}