body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  // color: green;
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.field_with_errors {
  padding: 2px;
  display: table;
  background-color: #ff000033;
  width: 100% !important;
}

.logreg:hover {
  letter-spacing: .1rem;
}

.msg-error {
  // rouge
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white !important;
}

.msg-alert {
  //orange
  border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.msg-success {
  border-color: green;
  background-color: green;
  color: white !important;
}

#error_explanation {
  width: 450px;
  padding: 7px 7px 0;
  margin-top: 0rem;
  margin-bottom: 0px;
  border: 2px solid red;
  background: #1513138c;

  h2 {
    color: #fff;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    margin: -7px -7px 0;
    background-color: #c00;
    padding: 5px 5px 5px 15px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
