<footer class="page-footer">
  <div class="footer-copyright">
    © <%= Time.current.year %> ObiFenix
    <div class="grey-text text-lighten-4 right footer-color">
      <a href="https://github.com/ObiFenix/"><i class="fa fa-github"></i> Github</a>
      <a href="https://www.linkedin.com/in/obifenix/"><i class="fa fa-linkedin"></i> LinkedIn</a>
      <a href="https://portfolio-p3ks1z9oh.now.sh/"><i class="fa fa-google-plus-official" style="vertical-align: middle;"></i> MyWebsite+</a>
    </div>
  </div>
</footer>
